
Asdruval Tejada <adtp0003@ce.pucmm.edu.do> <Dell@DESKTOP-BKAVMK7>

Angel Belliard <atbc0002@ce.pucmm.edu.do> <conil@LAPTOP-7K0QEIBH>
Angel Belliard <atbc0002@ce.pucmm.edu.do> <conil@LAPTOP-7K0QEIBH.mshome.net>
Angel Belliard <atbc0002@ce.pucmm.edu.do> <conil@172.24.208.1>

Wilmary Hernandez <WSHH0001@ce.pucmm.edu.do> <Wilmary Hernandez@DESKTOP-1HPVPUQ>