# Formato: Nombre Correcto <correo_real_en_github> <correo_raro_del_commit>

# 1. Para Dell (Tú o tu compañero)
Asdruval Tejada <adtp0003@ce.pucmm.edu.do> <Dell@DESKTOP-BKAVMK7>

# 2. Para Conil (Tiene 3 correos raros, hay que mapearlos todos)
Nombre De Conil <atbc0002@ce.pucmm.edu.do> <conil@LAPTOP-7K0QEIBH>
Nombre De Conil <atbc0002@ce.pucmm.edu.do> <conil@LAPTOP-7K0QEIBH.mshome.net>
Nombre De Conil <atbc0002@ce.pucmm.edu.do> <conil@172.24.208.1>

# 3. Para Wilmary (Ojo con el espacio en su correo viejo)
Wilmary Hernandez <WSHH0001@ce.pucmm.edu.do> <Wilmary Hernandez@DESKTOP-1HPVPUQ>